<!DOCTYPE html>
<html>
  <body>
    <header>
      <div class="title-container">
        <h1>Srcerizder's Homepage</h1>
        <h3>(Or Something)</h3>
        <img src="./img/ARROWRGRUV.GIF">
      </div>
    </header>

    <section id="summary-container">
      <p>
        <b>SUM INFOZ:</b><br><br>
        <b>&gt;&gt; I'm Currently Learning</b>: Common Lisp, Clojure, & StumpWM<br>
        <b>&gt;&gt; Ask Me About</b>: OpenBSD, Gentoo, Ricing *NIX, Music Theory, & Calculators<br>
        <b>&gt;&gt; I Love</b>: Music Theory, Being Queer, Tech <i>(duh)</i>, & Linguistics<br>
        <b>&gt;&gt; Fun Fact</b>: I <i>will not</i> help you if you don't put in the effort <b>first</b>.<br>
      </p>
    </section>
    
    <section id="content-container">
      <div class="list-container">
        <h4>Personal Stuffs</h4>
        <UL>
          <LI><a rel="me" href="https://en.pronouns.page/@izder456">Pronouns</a></LI>
          <LI><a rel="me" href="https://izder456.tumblr.com/">Tumblr</a></LI>
          <LI><a rel="me" href="mailto:izder456@disroot.org?subject=Hi">eMail</a></LI>
        </UL>
      </div>

      <div class="list-container">
        <h4>Music Stuffs</h4>
        <UL>
          <LI><a rel="me" href="https://soundcloud.com/izder456">Soundcloud</a></LI>
          <LI><a rel="me" href="https://izder456.bandcamp.com/">Bandcamp</a></LI>
          <LI><a href="https://open.spotify.com/user/55776">Spotify</a></LI>
          <LI><a href="./playlists.html">Playlists Directory</a></LI>
        </UL>
      </div>

      <div class="list-container">
        <h4>Social Stuffs</h4>
        <UL>
          <LI><a rel="me" href="https://bsky.app/profile/izder456.bsky.social">Bsky.app</a></LI>
          <LI><a rel="me" href="https://mastodon.unixhideout.solutions/@izder456">Mastodon</a></LI>
          <LI><a rel="me" href="https://libranet.de/profile/izder456">Friendi.ca</a></LI>
        </UL>
      </div>

      <div class="list-container">
        <h4>Tech Stuffs</h4>
        <UL>
          <LI><a rel="me" href="https://github.com/izder456">Github</a></LI>
          <LI><a rel="me" href="https://unixhideout.solutions/gl">GeekLog I Co-Moderate</a></LI>
          <LI><a rel="me" href="https://unixhideout.solutions">Group I Co-Moderate</a></LI>
        </UL>
      </div>
    </section>
  </body>
</html>
