([:head
  [:meta {:charset "utf-8"}]
  [:meta
   {:content "width=device-width, initial-scale=1.0",
    :name "viewport"}]
  [:title "Srcerizder!"]
  [:link {:href "/styles/main.css", :rel "stylesheet"}]
  [:link
   {:rel "apple-touch-icon",
    :sizes "180x180",
    :href "/apple-touch-icon.png"}]
  [:link
   {:rel "icon",
    :type "image/png",
    :sizes "32x32",
    :href "/favicon-32x32.png"}]
  [:link
   {:rel "icon",
    :type "image/png",
    :sizes "16x16",
    :href "/favicon-16x16.png"}]
  [:link {:rel "manifest", :href "/site.webmanifest"}]]
 [:div
  {:class "title-container"}
  [:h1 "Srcerizder's Homepage"]
  [:h3 "eggies"]
  [:center [:img {:src "/img/ODDEGG.PNG"}]]]
 [:span
  {:id "summary-container"}
  [:h4 "i"]
  [:center [:img {:src "/img/I.GIF"}]]
  [:div
   [:p
    "queer as yous peer.\nnear and dear.\nunapologetically selfsphere.\nmay not appear,\nbut i assure, i am one who can hear.\nthe overseer to leer, i do abhor.\nmight as well twiddleped at the pier.\nlonesome and gazing au creatimirror.\nbeneath my’ve aeroped here.\npersonal solifixation, obsessed.\ni carress deprive.\noverwatching mine own eyes.\ni may have been a fly.\nbut am not.\ni am happy to be in the mæ.\nto be the guy who need-not oblige,\nby the gender-bereft binaries of the life deprived.\n\ni am me.\nah, i crave to be me.\n\non the dawnmorrow\n\ni gaze at the autorestrictive farseer,\nshowing joy, and of breigth facial arche.\nþose before me are an ideal.\n“say no to the deal”, calls i.\nmtv may not be for me,\nand all a fantastic tickle to the ear.\nprettied mine, i like jewels.\nbut i may not,\nfor i was wrong.\nself shall not decide for i.\nself may not be who i.\nbut i am in self undenial.\ni cannot, lest i doze upon myself.\n\nfor all i am,\nis i."]
   [:br]
   [:p [:i "-iz"]]]
  [:center [:img {:src "/img/FUZZ.PNG"}]]]
 [:span
  {:id "footer-container"}
  [:p
   [:img {:src "/img/ARROWGRUV.GIF"}]
   [:br]
   [:br]
   [:b [:a {:href "#top"} "back to " [:code "$(head -n1)"] " ?"]]
   [:br]
   [:b [:a {:href "./index.html"} "back to " [:code "$home"] " ?"]]
   [:br]
   [:b [:a {:href "./index.html"} "index page!"]]
   [:br]
   [:i
    [:a
     {:href "https://www.osamusato.net/"}
     "backdrop artwork by Osamu Sato"]]
   [:br]
   [:br]
   [:img {:src "/img/ARROWGRUV.GIF"}]
   [:br]]]
 [:center [:h3 "GOOBYE!!!!1!!1"] [:img {:src "/img/GOOBYEGRUV.GIF"}]])
